/* .wrapper-list {
  width: 80vw;
  display: flex;
  justify-content: center;
}


.list-clerk {
  display: flex;
  justify-content: center;
}

.list-clerk table {
  border:none;
  width: 900px;
}

.list-clerk thead {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}

.list-clerk thead tr th {
  width: 250px;
  height: 40px;
  border-top: 1px solid #BABABA;
  border-bottom: 2px solid #BABABA;
  border-left: none;
  border-right: none;
}

.list-clerk tbody td {
  border: 1px solid #BABABA;
  text-align: center;
  height: 40px;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 10px 0 10px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list-clerk tbody td button {
  background: none;
  border: none;
  cursor: pointer;
} */