.wrapper-list {
  width: 80vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
}

.clerk-box-form {
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.list-clerk {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.list-clerk table {
  border:none;
  width: 900px;
}

.list-clerk thead {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(0, 0, 0);
}

.list-clerk thead tr th {
  width: 250px;
  height: 40px;
  border-top:none;
  border-bottom: 2px solid #BABABA;
  border-left: none;
  border-right: none;
}

.list-clerk tbody td {
  border: 1px solid #BABABA;
  text-align: center;
  height: 40px;
  border-left: none;
  border-right: none;
  border-top: none;
  padding: 10px 0 10px 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.list-clerk tbody td button {
  background: none;
  border: none;
  cursor: pointer;
}

.search-box {
  display:  flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.search-box .page-active {
  font-size: 12pt;
  font-family: Arial, Helvetica, sans-serif;
  color:#2e6f72;
  margin-right: 40px;
  border-left: 2px solid #2e6f72;
  padding-left: 10px;
}

.search-input {
  width: 400px;
  height: 40px;
  border: none;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 10px;
  outline: none;
}

.paginate {
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin-top: 5px;
  border-radius: 10px;
}